<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
											http://www.springframework.org/schema/beans/spring-beans.xsd
         							http://www.springframework.org/schema/security 
         							http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled">
	</global-method-security>

	<!-- 시큐리티를 태우지 않겠다 -->
	<http pattern="/res/**" security="none" />
	<http pattern="/upload/**" security="none" />

	<!-- 시큐리티를 모두 허가하겠다 -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/echo/**" access="permitAll " />
		<intercept-url pattern="/check/*" access="permitAll " />
		<intercept-url pattern="/captcha/*" access="permitAll " />
		<intercept-url pattern="/login.ssol" access="permitAll " />
		<intercept-url pattern="/join.ssol" access="permitAll " />
		<intercept-url pattern="/security/login" access="permitAll " />
		<intercept-url pattern="/board/map/*" access="permitAll " />
		<intercept-url pattern="/board/*" access="permitAll " />
		<intercept-url pattern="/popup/*" access="permitAll"/>
		<intercept-url pattern="/board/dialog/*" access="permitAll"/>
		<intercept-url pattern="/**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
		
		<csrf disabled="true"/>
		
		<form-login login-page="/login.ssol" 
			default-target-url="/main/index.ssol"
			login-processing-url="/security/login" 
			always-use-default-target="true"
			authentication-failure-url="/login.ssol?error=1" 
			username-parameter="loginId"
			password-parameter="loginPw" 
			authentication-success-handler-ref="authenticationSuccess"
			/>
		<remember-me />
		<session-management>
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" />
		</session-management>
		<logout logout-success-url="/login.ssol" logout-url="/logout.ssol" />
	</http>

	<beans:bean id="authenticationSuccess" class="kr.co.ksr1.commom.security.AuthenticationSuccess" />
	<beans:bean id="userDetailService" class="kr.co.ksr1.commom.security.UserDetailService" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailService">
			<password-encoder hash="plaintext" base64="true" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>